{% extends "layout2.html" %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-md bg-white">
    <div class="container">						    
        <div class="page-tittle-head display-block text-center">
            <h1 class="font-size-45 font-weight-light ls-1-5">멘토 등록</h1>
            <p>Lattors의 멘토로 활동하기 위해서 아래의 양식을 작성해주세요.</p>
        </div>
    </div>
</section>
<!-- Page Tittle End -->

<section class="section-1">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="mrg-btm-30">멘토 등록양식</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                

                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control"  placeholder="Phone Number">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Address">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="University">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Major">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control"  placeholder="Sub Major">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea class="form-control" rows="3" placeholder="Meassage"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <input class="btn btn-md btn-dark" type="submit" value="등록하기">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}