{% extends "layout2.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-md bg-white">
    <div class="container">						    
        <div class="page-tittle-head display-block text-center">
            <h1 class="font-size-45 font-weight-light ls-1-5">활동 사진</h1>
            <p>COM.MA</p>
        </div>
    </div>
</section>
<!-- Page Tittle End -->

<!-- Portfolio Start -->
<section class="section-5">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="container-fluid">
                <div class="isotope-filter filter-1 text-center">
                    <a href="#" class="filter-item active" data-filter="*">All</a>
                    <a href="#" class="filter-item" data-filter=".2017">2017's</a>
                    <a href="#" class="filter-item" data-filter=".2016">2016's</a>
                    <a href="#" class="filter-item" data-filter=".2015">2015's</a>
                    <a href="#" class="filter-item" data-filter=".2014">2014's</a>
                </div>	
                <div class="portfolio isotope row col-3 gutter-sm mrg-top-50">
                    {% for photo in photos %}
                    <a href="{{ photo.photo.url }}" class="folio-item {{ photo.year }} lightbox-img">
                        <div class="folio-style-2">
                            <div class="folio-image">
                                <img class="img-responsive" src="{{ photo.photo.url }}" alt="" width="450px" height="300px">
                            </div><!-- /folio-image -->
                            <div class="overlay">
                                <div class="folio-caption">
                                    <h3 class="folio-tittle">{{ photo.site }}</h3>
                                    <p class="describe">{{ photo.date }}</p>
                                </div><!-- /folio-caption -->
                            </div><!-- /overlay -->
                        </div><!-- folio-style -->
                    </a><!-- /folio-item -->
                    {% endfor %}
                </div>
                <div class="mrg-vertical-50 text-center">
                    <a href="https://com-ma.wixsite.com/comma" class="btn btn-dark btn-md" target="_blank">Show More</a>
                </div>
                {% if user.is_superuser %}
                    <div class="mrg-vertical-30 text-center">
                        <a href="{% url "lattors:act_photo_add" %}" class="btn btn-dark btn-lg">사진 추가하기</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Portfolio End -->

<!-- Modal Large -->
<div class="modal fade modal-center" id="modal-large" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body no-pdd">
                <div class="padding-30">
                    <h3 class="mrg-vertical-15">Modal Large</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                    <div class="text-right mrg-top-20">
                        <a class="btn btn-md btn-default border-radius-4">Cancel</a>
                        <a class="btn btn-md btn-theme border-radius-4">Save Change</a>
                    </div>
                </div>
                <div class="modal-close">
                    <button type="button" class="btn icon-btn-md icon-btn-round btn-dark lh-0" data-dismiss="modal"><i class="ei ei-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Content End-->
{% endblock %}    