{% extends "lattors/layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
        <img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
        <div class="container">
            <div class="page-tittle-head">
                <h2>활동 사진 등록</h2>
                <p>활동 사진을 등록해 주세요.</p>
            </div>
        </div>
    </section>
    <!-- Page Tittle End -->

    
{% endblock %}