{% extends "lattors/layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
    <img class="parallax-img no-mobile-parallax" src="{% static "images/community.jpg" %}" alt="" data-parallax='{"y": 150}'>
    <div class="container">
        <div class="page-tittle-head">
            <h2>멘티의 진솔한 이야기</h2>
            <p>멘티분들의 다양한 궁금증을 이야기해 보세요.</p>
        </div>
        <ol class="breadcrumb pull-right mrg-top-30">
            <li class="breadcrumb-item"><a href="{% url "lattors:talk_mentor" %}">멘토의 진솔한 이야기</a></li>
            <li class="breadcrumb-item"><a href="{% url "lattors:talk_mentee" %}">멘티의 궁금한 이야기</a></li>
        </ol>
    </div>
</section>
<!-- Page Tittle End -->

<section class="section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="mrg-btm-50">멘티의 <span class="theme-color">궁금한</span> 이야기</h2>
                <div class="col-md-12"></div>
                <form action="" method="post">
                    {% csrf_token %}

                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}

                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    
                    <div class="form-group col-md-12 mrg-horizon-auto">
                        {{ form.title }}
                    </div>
                    <div class="form-group col-md-12 mrg-horizon-auto">
                        <span>{{ form.content }}</span>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn btn-md btn-dark" value="게시글 등록">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
